*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #b8deec;
}
h1{
    font-size: 100px;
    margin: 3vh;
    display: flex;
    justify-content: center;
    letter-spacing: 5px;
}
section{
    margin-top: 20vh;
}
div{
    border: solid gray;
    box-shadow: 0 10px rgba(0, 0, 0, 0.14);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5vh 5vw;
    padding: 24px;
    font-size: 20px;
}
p{
    padding: 10px;
}
.white-letters{
    color: white;
}
.black-letters{
    color: black;
}
.black{
    background-color: #000000;
}
.red{
    background-color: #FF0000;
}
.green{
    background-color: #00FF00;
}
.blue{
    background-color: #0000FF;
}
.fuchsia{
    background-color: #FF00FF;
}
.white{
    background-color: #FFFFFF;
}
.yellow{
    background-color: #FFFF00;
}
.purple{
    background-color: #800080;
}
.maroon{
    background-color: #800000;
}
.olive{
    background-color: #808000;
}