.all{
    display: grid;
    height: 100vh;
    grid-gap: 1vh;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 4fr;
    grid-template-areas:
    'header header'
    'section aside'
;
}
header{
    grid-area: header;
    background-color: grey;
}
section{
    grid-area: section;
    background-color: grey;
}
aside{
    grid-area: aside;
    background-color: grey;
}