@media screen and (min-width: 480px) and (max-width: 768px) {
    .article{
        flex-direction: row;
        gap: 10px;
    }
    .article .first{
        width: 50%;
        height: 100%;
    }
    .article .second{
        width: 50%;
        height: 100%;
    }
    .article .second{
        margin-top: 0;
    }
    .article div p{
        transform: rotate(-90deg);
    }
}