*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    width: 200px;
    height: 200px;
    background-color: rgb(198, 255, 235);
    display: inline-block;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    text-align: left;
}
.font{
    background-color: #729762;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    height: 695px;
}
p{
    font-size: 13px;
    padding: 10px;
}
h3{
    padding: 10px;
}
.card:hover{
    transform: scale(1.2);
    transition: 50ms;
}