@media screen and (max-width: 480px) {
    .all{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 2fr);
        grid-template-areas:
        'header'
        'first'
        'second'
        'third'
        'footer'
    ;
    }
}